body {
  height: 864.0px; 
  width: 432.0px; 
  margin: 0; 
  padding: 0;
}

div {
  position: relative;
  margin: 0; 
  padding: 0;
}

#header {
  height: 86.4px; 
  background-color: #35363A; 
}
#imgs { 
  top: 8.64px; 
  height: 69.12px; 
  left: 8.64px; 
  width: 414.72px; 
}
.himg {
  position: absolute;
  height: 34.56px;
  width: 34.56px;
  margin: 0;
  padding: 0;
  top: 17.28px;
}

#upcmg {left: 20px;}
#clss {left: 105.04px;}
#trck {left: 190.08px;}
#cal {left: 275.12px;}
#sets {left: 360.16px;}

.divider {
  height: 45px;
  background-color: #181a1b;
}
.divtxt {
  font-size: 20px;
  color: #dbdbdb;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  top: 6px;
  left: 25px;
  font-style: oblique;
  font-weight: bold;
}
#darr {
  height: 20px; 
  width: 20px; 
  position: relative; 
  margin: 0; 
  padding: 0;
  top: -17px;
  left: 135px;
}

#content {
  height: 646.2px; 
  background-color: #35363A; 
}

.utasks {
  height: 96.9px;
  width: 392px;
  background-color: #181a1b;
  border-radius: 25px;
  left: 20px;
  position: absolute;
}
#tsk1 {top: 51.696px;}
#tsk2 {top: 200.322px;}
#tsk3 {top: 348.948px;}
#tsk4 {top: 497.574px;}
#tsk5 {top: 512.72px;}

#topbar { 
  height: 28.8px;
  background-color: #181a1b; 
}
#botbar {
  height: 57.6px; 
  background-color: #181a1b;
}
