body {
  height: 864.0px; 
  width: 432.0px; 
  margin: 0; 
  padding: 0;
}

#header {
  position: relative; 
  height: 86.4px; 
  background-color: #35363A; 
  margin: 0; 
  padding: 0;
}
#imgs {
  position: relative; 
  top: 8.64px; 
  height: 69.12px; 
  left: 8.64px; 
  width: 414.72px; 
  margin: 0; 
  padding: 0;
}
.himg {
  position: absolute;
  height: 34.56px;
  width: 34.56px;
  margin: 0;
  padding: 0;
  top: 17.28px;
}

#upcmg {left: 20px;}
#clss {left: 105.04px;}
#trck {left: 190.08px;}
#cal {left: 275.12px;}
#sets {left: 360.16px;}

.divider {
  position: relative;
  height: 45px;
  background-color: #181a1b;
  margin: 0; 
  padding: 0;
}
.divtxt {
  font-size: 20px;
  color: #dbdbdb;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  top: 6px;
  left: 25px;
  font-style: oblique;
  font-weight: bold;
}
#darr {
  height: 20px; 
  width: 20px; 
  position: relative; 
  margin: 0; 
  padding: 0;
  top: 6px;
  left: 75px;
}

#content {
  position: relative; 
  height: 646.2px; 
  background-color: #35363A; 
  margin: 0; 
  padding: 0;
}

#topbar {
  position: relative; 
  height: 28.8px;
  background-color: #181a1b; 
  margin: 0; 
  padding: 0;
}
#botbar {
  position: relative;
  height: 57.6px; 
  background-color: #181a1b;
  margin: 0; 
  padding: 0;
}

